@import "tailwindcss";

.pattern-background {
    background-color: white;

    background-image: radial-gradient(
        #ebebeb 1.5px,
        transparent 1.5px
    );

    background-size: 24px 24px;
}
@theme{
  --default-font-family: 'Dongle';
  --color-title: #0775D6;
  --color-button : #EA5B45; 
  --color-body: #000000;
  --color-main-bg: #FFFFFF;
  --color-second-bg: #F6f6f6;
  --font-dongle: "Dongle";
  --font-lexend: 'Lexend';
  --color-line: #7f7f7f;
}