@import "tailwindcss";

@theme{
  --default-font-family: 'Dongle';
  --color-title: #0775D6;
  --color-button : #EA5B45; 
  --color-body: #000000;
  --color-main-bg: #FFFFFF;
  --color-second-bg: #F5F5F5;
  --font-dongle: "Dongle";
  --font-lexend: 'Lexend';
}